.PageContent--general {
    padding: var(--sm-padding);
    max-width: var(--max-body-width);
    line-height: 1.5;

    @media (max-width: #{ $mobile-breakpoint }) {
        max-width: unset;
    }


    // TITLES

    h2, h3, h4, h5, h6, {
        margin-bottom: 1rem;
        font-weight: normal;

        &:not(:first-child) {
            margin-top: var(--md-margin);
        }
    }

    h2 {
        font: var(--h2-font);

         &:not(:first-child) {
            margin-top: var(--lg-margin);
        }
    }

    h3 {
        font: var(--h3-font);
    }

    h4, h5, h6 {
        font: var(--h4-font);
    }


    // GENERAL

    blockquote, hr, dl, 
    dd, ol, ul, figure {
        margin-bottom: var(--md-margin);
    }

    p {
        margin-bottom: 1rem;
    }

    hr {
        margin-top: var(--lg-margin);
        border-top: 1px solid black;
        position: relative;
        left: calc(0rem - var(--sm-padding));
        width: calc(100% + (var(--sm-padding) * 2));
    }

    a {
        color: var(--link-color);
        text-decoration: none;
        border-bottom: 1px solid var(--link-color);

        &:hover {
            border-bottom: none;
        }
    }

    blockquote {
        padding-left: var(--sm-padding);
        font-size: var(--sm-font-size);
    }

    // LISTS

    ul, ol {
        -webkit-padding-start: 2rem;

        ul, ol {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    ol {

        li {
            list-style: decimal;
        }
    }
    
    ul {
        
        li {
            list-style: disc;
        }
    }

    li {
        margin-bottom: 1rem;
    }


    // TABLES

    table {
        border-collapse: collapse;
        width: 100%;
        line-height: 1.25;
    }

    th, td {
        border-bottom: var(--thin-border);
        padding: .5em 2em .5em 0;
    }

    tr {

        &:hover {
            background-color: var(--secondary-color);
        }

        &:last-child {

            td {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }


    // CODE

    code {
        font-family: var(--secondary-font-family)
    }

    pre {
        margin-bottom: 1rem;
        tab-size: 4;
    }

    code.highlighter-rouge {
        background-color: var(--secondary-color);
        color: var(--code-color);
        padding: .25em .5em;
    }

    pre.highlight {
        background-color: var(--secondary-color);
        color: var(--code-color);
        padding: var(--sm-padding);
        position: relative;
        left: calc(0rem - var(--sm-padding));
        width: calc(100% + (var(--sm-padding) * 2));
        line-height: 1.5;
        overflow-x: scroll;
    }

    ul, ol {
        pre.highlight {
            left: 0;
            width: 100%;
            margin: 1rem 0;
        }
    }
}